/* ================================= 
  Base Element Styles
==================================== */
body {
	font-family: 'Times New Roman', Times, serif;
	line-height: 1;
	color: #3a3a3a;
	margin: 0;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- header ---- */

.main-header,
.main-nav {
    display:flex;
    flex-direction:row;
}

.main-header{
    padding:0.5em;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(234, 239, 241);
}

.name{
    margin-left:1em;
     font-size:1em; /*為什麼非得寫在name中才不跑版? */
}

.main-nav{
    display:flex;
    justify-content:space-between;
    margin-right:1em;
    text-align:center;
    font-size:1em;
    color:black;
}    

.I{
    margin:1em;
}
/* ---- section ---- */
.welcome-message {
    display:block;
    padding:2.5em 0;
    text-align:center;
    background-color:rgb(203, 221, 232);
    font-size:2em;
    font-weight: bold;
}

/* ---- main content ---- */

.main-content{
   margin: 1em auto;
}
.section-title {
    display:block;
    padding:0.5em 0.5em;
    text-align:center;
    font-size:1em;
    font-weight: bold;
}
.content-grid {
    display: flex;
    gap: 1em 1em;
    max-width: 1200px; 
    margin:1em auto; 
}

.box{
    flex:1;
    height:75px;
    text-align:center;
    padding:2em 1em;
    background-color:rgb(87, 97, 104);
    font-size:1em;
}

.button{
    width: 100px;
    height: 45px;
    padding: 0.5em 1em;
    margin:1.5em auto;
    background-color:rgb(203, 221, 232);
    text-align:center;
    font-size:1em;
}


/* ================================= 
  Media Queries
==================================== */
@media (min-width: 1200px) {
    .content-grid {
        max-width: 1200px;
    }
}

/* 
還是有幾個毛病要修
content box中文字不置頂、且寬度似乎太扁 */