<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accumulation from 1 to N</title>
</head>
<body>
    <form method="GET" id=input_num>
        <label for="input">Enter a Number: </label>
        <input type="number" id="input" name="number" value="10" required>
        <button type="button" onclick="get_sum()">Get Sum</button>
    </form>

    <div>
        <p id="result"></p>
    </div>


    <script>
        function get_sum() {
            var num = document.getElementById('input').value;  
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", `http://localhost:3000/data?number=${num}`, true); 
            //這裡為什麼直接寫absolute path就會出現CORS issue，而relative path不會??(雖然後來在server import CORS 而解決)
            xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("result").innerHTML = this.responseText;
                }
            };
            xhttp.send();
        }
    </script>
</body>
</html>