<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload = "main()">
    <ul class="product_list">
        <li>
            <p>product 1</p>
        </li>
        <li>
            <p>product 2 </p>
        </li>
    </ul>
</body>
<script>
    //Complete the functions below to make AJAX call to a URL by GET method and show the 
    //response data in the page. 
    //You may render UI with any style.

    function ajax(src, callback)
    {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function()
        {
            if(xhttp.readyState === 4 && xhttp.status ===200)
            {
                console.log(xhttp.responseText);
                const response= /*JSON.parse(*/xhttp.responseText;//);
                callback(response);
            };
        }
        xhttp.open("GET",src,true);
        xhttp.send();
    }

    //這裡要呈現的是什麼內容? 把這裡的內容跟response結合
    function render(data)
    {
        const productInfo = document.createElement("li");
        productInfo.textContent = data;
        let product_list = document.querySelector(".product_list");
        product_list.appendChild(productInfo); 
    }

    function main()
    {
        ajax(
            "https://remote-assignment.s3.ap-northeast-1.amazonaws.com/products",
            function(response){
                render(response);
            }); 
            // you should get product information in JSON format and render data in the page
    }
</script>
</html>